includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
#parameters:
#	ignoreErrors:
#		-
##			message: '#Cannot access property \$(template|templates|useAjax|defaultPresenterLink) on array\|object\.#'
#			message: '#Cannot access property \$.* on array\|object\.#'
#			path: %currentWorkingDirectory%/src/DI/BackButtonExtension.php
